{% load staticfiles %}

<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Compañía Colombiana de Transporte (CCT)</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMKctJU3tFjp8AZa2Fp_kWdr8VpJFVM1k">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -4.606485, lng: -74.065644},
          zoom: 8
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var marker = new google.maps.Marker({
          position: { lat: -4.606485, lng: -74.065644},
          map: map,
          title: 'Chevrolet '
            });

        var marker2 = new google.maps.Marker({
          position: { lat: -4.706485, lng: -74.265644},
          map: map,
          title: 'Renault'
            });

        var marker3 = new google.maps.Marker({
          position: { lat: -4.586485, lng: -74.665644},
          map: map,
          title: 'Renault'
            });

            var marker4 = new google.maps.Marker({
              position: { lat: -4.886485, lng: -74.865644},
              map: map,
              title: 'Renault'
                });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">CCT</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Inicio</a></li>
                  <li class="active"><a href="/trucks/">Camiones</a></li>
                  <li><a href="#">Conductores</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="col-md-6">
              <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Marca</th>
                      <th>Matrícula</th>
                      <th>Conductor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Chevrolet</td>
                      <td>AAA-123</td>
                      <td><a href="#">Pedro Pérez</a></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Volvo</td>
                      <td>CCC-908</td>
                      <td><a href="#">Juan Rodriguez</a></td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Toyota</td>
                      <td>BBB-456</td>
                      <td><a href="#">Santiago Gómez</a></td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Chevrolet</td>
                      <td>HHH-345</td>
                      <td><a href="#">Luis Sánchez</a></td>
                    </tr>
                  </tbody>
             </table>
             <nav>
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-6">
              <div id="map-canvas" style="height:300px"></div>
          </div>


        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>


</body></html>
